.profile__person{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 486px;
    gap: 30px;

}

@media screen and (max-width: 767.9px){

    .profile__person{
        gap: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-width: 320px;
    }
}