.profile__about{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(350px + 22px + 18px);
}

@media screen and (max-width: 767.9px){

    /*У нас в фигме почему-то высота элементов текстовых меньше, чем высота строки, в слаке не помогают с этим, в итоге при одинаковых отступах вся верстка съезжает */
    .profile__about{
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
    }
}