.profile__about{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(350px + 22px + 18px);
}

@media screen and (max-width: 767.9px){

    /*Во время исправлений выяснилось, что у нас в макете у текстовых элементов высота меньше line-height.Если исключать задание высоты текстовым элементам, то в интернете я нашёл реализацию подобного только с какими-то дополнительными подключениями и абра-кадаброй. Не имею ни майлейшего понятия как с этим бороться. В Slack тоже ответа получить не удалось. */
    .profile__about{
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
    }
}