.popup__close{
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    padding: 0;
    background: 0;
    border: 0;
    background-image: url('../../../images/Close-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.popup__close:hover{
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 767.9px){

    .popup__close{
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}

@media screen and (max-height: 420px){
    .popup__close{
    top: 0;
    right: -36px;
    }
}